body {
	background-color:#999;
}
#page {
	background-color:white;
	border:3px solid #aaa;
	width:700px;
	margin:0px auto;
	padding:20px;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
}
