body {
	background-color:#999;
}
#syspage {
	background-color:white;
	border:3px solid #aaa;
	width:700px;
	margin:0px auto;
	padding:20px;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
}
#syspage h1 {
	margin-top:0px;
}
#syspage form {
	border:1px solid #ddd;
	padding:10px;
}
#syspage form input {
	display:block;
	outline:none;
	border:1px solid #aaa;
	font-size:15px;
	width:300px;
	margin-top:0px;
	margin-bottom:20px;
	
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
	-o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
	-ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
	box-shadow: 0 0 5px rgba(0, 0, 255, .5);
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
}
#syspage #footer {
	font-size:small;
	color:#ccc;
}
